<!DOCTYPE html>
<html>
  <head>
    <title>JpjCanineTraining</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="o-global-container">
      <div class="o-global-background">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
