<!DOCTYPE html>
<html>
  <head>
    <title>JpjCanineTraining</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="o-global-container">
      <div class="o-global-background">
        <div class="o-banner">
          <img src="<%= asset_pack_path 'media/images/output-onlinepngtools.png' %>" alt="Logo" class="o-banner__image" />
        </div>
        <nav>
          <ul class="c-nav">
            <li class="c-nav__item">
              <a href="#" class="c-nav__item--link">About</a>
            </li>
            <li class="c-nav__item o-dropdown">
              <a href="#" class="c-nav__item--link">Services</a>
              <ul class="o-dropdown__content">
                <li class="c-nav__item--dropdown-item">
                  <a href="#" class="c-nav__item--dropdown-link">jal;dkjl;ajlkdf;jsl;kdfj</a>
                </li>
                <li class="c-nav__item--dropdown-item">
                  <a href="#" class="c-nav__item--dropdown-link">Services</a>
                </li>
                <li class="c-nav__item--dropdown-item">
                  <a href="#" class="c-nav__item--dropdown-link">Services</a>
                </li>
                <li class="c-nav__item--dropdown-item">
                  <a href="#" class="c-nav__item--dropdown-link">Services</a>
                </li>
              </ul>
            </li>
            <li class="c-nav__item">
              <a href="#" class="c-nav__item--link">Contact</a>
            </li>
          </ul>
        </nav>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
